[bumpversion]
current_version = 0.2.0
commit = True
tag = True

[bumpversion:file:README.md]
search = version-{current_version}-orange.svg
replace = version-{new_version}-orange.svg

[bumpversion:file:app/app.go]
search = const version = "{current_version}"
replace = const version = "{new_version}"
